@model TrocadilhosWebApp.Models.Trocadilho

@{
    ViewData["Title"] = "Details";
}

<h1>Resposta</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Pergunta do Trocadilho
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TrocadilhoQuestion)
        </dd>
        <dt class = "col-sm-4">
            Resposta do Trocadilho
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TrocadilhoAnswer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-light">Editar</a>
    <a asp-action="Index" class="btn btn-light">Voltar</a>
</div>
