@model IEnumerable<TrocadilhosWebApp.Models.Trocadilho>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-dark">Trocadilhos</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Novo Trocadilho</a>
</p>
<table class="table text-dark">
    <thead>
        <tr>
            <th>
                Pergunta do Trocadilho
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="trocadilhos-question">
                @Html.DisplayFor(modelItem => item.TrocadilhoQuestion)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Resposta</a>
                <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-sm btn-light">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-sm btn-light">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
