@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2 text-dark">Seja bem-vindo(a) ao Trocadilhos Web App</h1>
    <h2 class="p-4 text-dark">Lugar onde você encontra todos os trocadilhos que aquele seu tio piadista fará nas reuniões de família e muitos outros.</h2>
    <a asp-area="" asp-controller="Trocadilhos" asp-action="Index" class="btn btn-lg btn-dark">Ver Trocadilhos</a>
</div>
