@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo(a) ao Trocadilhos Web App</h1>
    <p>Lugar onde você encontra todos os trocadilhos que aquele seu tio piadista fará nas reuniões de família e muitos outros.</p>
</div>
